{% extends "base.html" %}

{% block title %}Ficha de artículo{% endblock %}

{% block content %}
    <h1>Detalles del Artículo</h1>
    <p><strong>Nombre:</strong> {{ articulo.nombre }}</p>
    <p><strong>Categoría:</strong> {{ articulo.categoria }}</p>
    <p><strong>EAN:</strong> {{ articulo.ean }}</p>
    <p><strong>URL del Artículo:</strong> <a href="{{ articulo.art_url }}" target="_blank">{{ articulo.art_url }}</a></p>
    <img src="{{ articulo.img_url }}" alt="Imagen del artículo" style="max-width: 100%; height: auto;">
   
{% endblock %}