{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Bienvenido a RTR API Bot</h1>
    <p>Esta aplicación te permite comparar precios de artículos, visualizar su evolución en el tiempo y acceder a detalles específicos de cada producto. 
       Es una herramienta útil para monitorear cambios de precios y tomar decisiones informadas.</p>
    <p>Explora las funcionalidades disponibles:</p>
    <ul>
        <li><strong>Inicio:</strong> Regresa a esta página principal donde encontrarás información general sobre la aplicación.</li>
        <li><strong>Últimos Cambios:</strong> Consulta los cambios más recientes en los precios de los artículos.</li>
        <li><strong>Buscar Cambios:</strong> Selecciona dos fechas para comparar los precios de los artículos en la base de datos.</li>
    </ul>
{% endblock %}